
<div class="container">
    <form  class="mat-dialog-content"  id="idFormModalidad" [formGroup]="formsActualiza" >
      <div class="row">
            <mat-toolbar color="primary" >    
              <span>Actualiza Empresa</span>    
            </mat-toolbar>  
      </div>
      <div  class="row"  style="margin-top: 3%">
        <mat-form-field class="col-md-3">
            <mat-label>Contacto</mat-label>
            <input  matInput [(ngModel)] ="empresa.contacto" name="nombre" formControlName="validaContacto">
            <mat-hint style="color:red" *ngIf="formsActualiza.controls.validaContacto.touched">
                <span *ngIf="formsActualiza.controls.validaContacto.hasError('required')">
                El Contacto es requerido
                </span>
                <span *ngIf="formsActualiza.controls.validaContacto.hasError('pattern')">
                El Contacto es 3 a 30 caracteres
                </span>
            </mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-3">
            <mat-label>Email</mat-label>
            <input  matInput [(ngModel)] ="empresa.email" name="email" formControlName="validaEmail" >
            <mat-hint style="color:red" *ngIf="formsActualiza.controls.validaEmail.touched">
                <span *ngIf="formsActualiza.controls.validaEmail.hasError('required')">
                El Email es requerido
                </span>
                <span *ngIf="formsActualiza.controls.validaEmail.hasError('pattern')">
                Email incorrecto
                </span>
            </mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-3">
            <mat-label>Razon Social</mat-label>
            <input  matInput [(ngModel)] ="empresa.razonSocial" formControlName="validaRazonSocial" name="razonSocial" >
            <mat-hint style="color:red" *ngIf="formsActualiza.controls.validaRazonSocial.touched">
                <span *ngIf="formsActualiza.controls.validaRazonSocial.hasError('required')">
                La Razon Social es requerida
                </span>
                <span *ngIf="formsActualiza.controls.validaRazonSocial.hasError('pattern')">
                Razon Social es 3 a 30 caracteres
                </span>
            </mat-hint>
        </mat-form-field>
        <mat-form-field class="col-md-3">
            <mat-label>Ruc</mat-label>
            <input  matInput [(ngModel)] ="empresa.ruc" formControlName="validaRuc" name="ruc" >
            <mat-hint style="color:red" *ngIf="formsActualiza.controls.validaRuc.touched">
                <span *ngIf="formsActualiza.controls.validaRuc.hasError('required')">
                    El RUC es requerido
                </span>
                <span *ngIf="formsActualiza.controls.validaRuc.hasError('pattern')">
                    El RUC debe tener 11 digitos
                </span>
            </mat-hint>
        </mat-form-field>
</div>
<div class="row">
    <mat-form-field class="col-md-4">
        <mat-label>Tipo de Riesgo</mat-label>
        <mat-select [(ngModel)] ="empresa.idTipoRiesgo" formControlName="validaTipoRiesgo" name="tipoRiesgo">
            <mat-option value="-1" selected > [Seleccione] </mat-option>
            <mat-option *ngFor="let x of tiposRiesgo" [value]="x.idTipoRiesgo" >
               {{x.calificacion}} 
            </mat-option> 
        </mat-select>
        <mat-hint style="color:red" *ngIf="formsActualiza.controls.validaTipoRiesgo.touched" >
            <span *ngIf="formsActualiza.controls.validaTipoRiesgo.hasError('min')">
                El Tipo de Riesgo es requerido
            </span>
        </mat-hint>
    </mat-form-field> 
    <mat-form-field class="col-md-4">
        <mat-label>Flag</mat-label>
        <mat-select [(ngModel)] ="empresa.flag" formControlName="validaFlag" name="flag">
            <mat-option value="-1" selected > [Seleccione] </mat-option>
            <mat-option value="1"> Activo </mat-option>
            <mat-option value="0"> Inactivo </mat-option> 
        </mat-select>
        <mat-hint style="color:red" *ngIf="formsActualiza.controls.validaFlag.touched" >
            <span *ngIf="formsActualiza.controls.validaFlag.hasError('min')">
                El Flag es requerido
            </span>
        </mat-hint>
    </mat-form-field>
    
</div>

        <div  mat-dialog-actions>
                <button mat-raised-button 
                        type="submit" 
                        color="primary" 
                        (click)="actualiza()"  
                        [disabled]="formsActualiza.invalid"
                        [mat-dialog-close]="1">
                        Actualiza
                </button>
                <button mat-button 
                        (click)="onNoClick()"
                        color="primary">
                        Salir
                </button>
        </div>
      </form>
  </div>
  